.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $button-gap;
  border-radius: $radius-md;
  cursor: pointer;
  font-weight: bold;
  transition: background-color $transition-time;
  border: none;

  &.outline {
    border: $border-size solid $button-border-color;
  }

  &.loading {
    opacity: $opacity-loading;
    cursor: wait;
  }

  &:disabled {
    opacity: $opacity-disabled;
    cursor: not-allowed;
  }

  &.light,
  &.dark {
    color: $button-background-light-color;
    background-color: $button-background-dark-color;

    &:hover {
      background-color: $button-hover-background-dark-color;
    }

    &:active {
      background-color: $button-active-background-dark-color;
    }

    &.light {
      color: $button-background-dark-color;
      background-color: $button-background-light-color;

      &:hover {
        background-color: $button-hover-background-light-color;
      }

      &:active {
        background-color: $button-active-background-light-color;
      }
    }
  }
}
