$primary-color: #4597f8;
$primary-light-color: #bddbff;
$text-color: #000000;
$error-color: #ff0000;
$background-color: #cbd5e0;

$bar-background-color: #eeeeee;
$shadow-color: #333333;

$button-border-color: #000000;

$button-loading-light-color: #000000;
$button-loading-dark-color: #ffffff;

$button-background-light-color: #ffffff;
$button-background-dark-color: #000000;

$button-hover-background-light-color: #edf2f7;
$button-active-background-light-color: #cbd5e0;

$button-hover-background-dark-color: #333333;
$button-active-background-dark-color: #1a202c;

$spinner-light-color: #ffffff;
$spinner-dark-color: #000000;

$light-svg-color: #000000;
$dark-svg-color: #ffffff;

$check-box-border-color: #000000;
$check-box-checked-color: #2196f3;
