:export {
  fontSizeXs: $font-size-xs;
  fontSizeMd: $font-size-md;
  fontSizeLg: $font-size-lg;
  fontSizeXl: $font-size-xl;

  borderSize: $border-size;

  radiusSm: $radius-sm;
  radiusMd: $radius-md;
  radiusLg: $radius-lg;
  radiusXl: $radius-xl;

  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
}
